# Python yuck-yucks
__pycache__/
*.pyc

# Terminal fumbles and editor leftovers
*.log
*.swp

# Secret squirrels - not for GitHub...
.env
venv/

# Audio misfits and database blobs
*.mp3
*.wav
*.sqlite3

# Output clutter - things we make but don't wanna keep
*.out
*.tmp
*.cache

# IDE ghosts
.vscode/
.idea/
*.code-workspace
model/

# OS breadcrumbs
.DS_Store
Thumbs.db

